# 1. 算術演算子

In [3]:
# 加算
1239 + 2344

3583

In [4]:
# 減算
2345-5463

-3118

In [6]:
# 乗算
1000 * 1.08

1080.0

In [7]:
# 除算
1080 / 1.08

999.9999999999999

In [9]:
1080 / 108

10.0

In [27]:
# 除算：切り捨て
100 // 3

33

In [10]:
# 計算の優先順位
(10 + 5.5) / 10

1.55

In [11]:
10 + 5.5 / 10

10.55

In [14]:
# 　剰余
77 % 3

2

In [15]:
78 % 3

0

In [18]:
# べき乗
3 ** 2

9

In [19]:
10 ** 3

1000

In [21]:
# 複素数
(3 + 4j) + (2 + 6j)

(5+10j)

In [23]:
1j ** 2

(-1+0j)

In [24]:
(3 + 4j) * (3 - 4j)

(25+0j)

# 2. 変数

In [38]:
# 代入
tax_rate = 0.08
price = 500
phone_number = '050-1234-5678'

In [33]:
tax_rate

0.08

In [34]:
price

500

In [36]:
phone_number

'050-1234-5678'

In [39]:
#　検算
price * tax_rate

40.0

In [40]:
variable1 = 774

In [41]:
_variable1 = 774

In [44]:
# 変数名の先頭に数値は使えない
1variable = 774

SyntaxError: invalid syntax (<ipython-input-44-4d75f0beb0c9>, line 2)

In [46]:
# 変数名に予約語は使えない
global = 774

SyntaxError: invalid syntax (<ipython-input-46-051d615dbdf2>, line 2)

In [47]:
# 予約語を確認
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

# 3. 比較演算子

In [48]:
100 > 5

True

In [49]:
100 < 5

False

In [51]:
value1 = 774
value1 == 774

True

# 4. データ型

## 数値型

In [54]:
# 整数（int）
18782 + 18782

37564

In [55]:
num = 774

In [56]:
num

774

In [58]:
# 浮動小数　（float）
10 + 3.3

13.3

In [60]:
10 / 4

2.5

In [61]:
# 複素数
comp = 2 + 4j

In [62]:
comp

(2+4j)

In [63]:
comp + (4 + 2j)

(6+6j)

In [64]:
comp + 5.4

(7.4+4j)

## 文字列

In [65]:
' This is string.'

' This is string.'

In [66]:
message = 'This is alse string.'

In [68]:
message

'This is alse string.'

In [72]:
'''
Apple
Orange
Banana
'''

'\nApple\nOrange\nBanana\n'

In [73]:
"this is " + "a pen"

'this is a pen'

In [75]:
# 数値型と文字列型の演算を＋で実行することはできない
"repeat after me" + 10

TypeError: must be str, not int

In [76]:
"Repeat after me. " * 3

'Repeat after me. Repeat after me. Repeat after me. '

In [77]:
# 大文字と小文字の変換
text = 'good'
text.upper()

'GOOD'

In [78]:
TEXT = 'BAD'
TEXT.lower()

'bad'

In [80]:
# 文字カウント
word = "This is the very last of the very best lecture"
word.count("v")

2

In [81]:
word.count("s")

4

# 論理型

In [82]:
100 < 4

False

In [83]:
100 > 4

True

# リスト型

In [91]:
list_a = ["apple", "banana"]
list_b = ["orange", "carrot"]

In [92]:
#　追加
list_a.append('grape')

In [93]:
list_a

['apple', 'banana', 'grape']

In [95]:
# 削除
list_b.remove("carrot")

In [96]:
list_b

['orange']

In [97]:
list_a

['apple', 'banana', 'grape']

In [101]:
# 並び替え
list_a.sort()

In [99]:
list_a

['apple', 'banana', 'grape']

In [102]:
list_num = [6,4,1,2,9,7,8,5,3]

In [103]:
list_num

[6, 4, 1, 2, 9, 7, 8, 5, 3]

In [104]:
list_num.sort()

In [105]:
list_num

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [107]:
#  データ型が違うとsortできない
list_mixed = [4,2,6,1,7, "r", "p", "g"]

In [108]:
list_mixed.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

# 辞書型

In [110]:
age_list = {"tanaka":13, "sato":43, "shimada":23, "ohtani":37}

In [111]:
age_list

{'ohtani': 37, 'sato': 43, 'shimada': 23, 'tanaka': 13}

In [113]:
age_list["ohtani"]

37

In [115]:
age_list["tanaka"]

13

In [116]:
# keyの一覧
age_list.keys()

dict_keys(['tanaka', 'sato', 'shimada', 'ohtani'])

In [117]:
# valueの一覧
age_list.values()

dict_values([13, 43, 23, 37])

# タプル型

In [119]:
tuple_a = ('apple', 198, 250)
print(tuple_a)

('apple', 198, 250)

In [125]:
# リスト型と挙動を比較
list_ramen = ["shoyu", "miso", "shio", "tonkotsu"]
print(list_ramen)

['shoyu', 'miso', 'shio', 'tonkotsu']

In [127]:
list_ramen[0] = "negi"
print(list_ramen)

['negi', 'miso', 'shio', 'tonkotsu']

In [129]:
tuple_ramen = ("shoyu", "miso", "shio", "tonkotsu")

In [130]:
tuple_ramen[0] = "negi"

TypeError: 'tuple' object does not support item assignment

In [132]:
# タプル型は辞書型変数のキーとして利用できる
body_weight = {}
key = ("tanaka", '2015-01-01') 
body_weight[key] = '53kg'
print(body_weight)

{('tanaka', '2015-01-01'): '53kg'}

In [133]:
# リスト型は辞書型変数のキーとして利用できない
body_weight = {}
key = ["tanaka", '2015-01-01']
body_weight[key] = '53kg'
print(body_weight)

TypeError: unhashable type: 'list'

# 集合型（セット型）

In [134]:
evaluate = {"good", "so-so", "bad", "awesome"}
print(evaluate)

{'awesome', 'so-so-', 'good', 'bad'}

In [135]:
# set関数をそのまま使うと1文字ずつ分割される
string_split = set("excellent")
print(string_split)

{'t', 'e', 'n', 'l', 'c', 'x'}

In [140]:
# 引数をリストにして渡すと分割されない
evaluate_list = ["good", "so-so", "bad", "awesome"]
evaluate_set = set(evaluate_list)
evaluate_set

{'awesome', 'bad', 'good', 'so-so'}

In [142]:
# 追加するときもリスト型で渡す
evaluate_set.update(["nice"])
evaluate_set

{'awesome', 'bad', 'good', 'nice', 'so-so'}

## セット型の利用１：重複の削除

In [143]:
# リスト型の要素から重複を削除する
alphabet_list = ["a", "b", "c", "d", "d", "d", "e", "f", "g", "g", "g", "h"]

In [145]:
alphabet_set = set(alphabet_list)
print(alphabet_set)

{'e', 'd', 'b', 'f', 'h', 'a', 'c', 'g'}

In [147]:
alphabet_list = list(alphabet_set)
print(alphabet_list)

['e', 'd', 'b', 'f', 'h', 'a', 'c', 'g']

## セット型の利用２：　複数の集合間の演算

In [150]:
alphabet_set_1 = {"a", "b", "c", "d", "e"}
alphabet_set_2 = {"e", "f", "g", "h", "i"}

In [154]:
# 共通する要素の除去
alphabet_set_1 - alphabet_set_2

{'a', 'b', 'c', 'd'}

In [153]:
alphabet_set_2 - alphabet_set_1

{'f', 'g', 'h', 'i'}

In [155]:
# 積集合：共通する要素の抽出
alphabet_set_1 & alphabet_set_2

{'e'}

In [156]:
# 一方にもう一方が含まれるか判定
alphabet_set_1 >= alphabet_set_2

False

In [157]:
# 和集合
alphabet_set_1 | alphabet_set_2

{'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'}

In [158]:
#  排他的論理和
alphabet_set_1 ^ alphabet_set_2

{'a', 'b', 'c', 'd', 'f', 'g', 'h', 'i'}